<h1>Create message</h1>

<form [formGroup]="form"
      (ngSubmit)="addNotification()"
      autocomplete="off"
      class="app-flex app-flex--v-center">
  <mat-form-field class="app-flex__col text-input">
    <input matInput
           placeholder="Enter message"
           required
           formControlName="message">
  </mat-form-field>

  <mat-form-field class="app-flex__col">
    <input matInput
           [ngxMatDatetimePicker]="picker"
           (focus)="picker.open()"
           required
           placeholder="Choose a date"
           formControlName="dateTime">
    <mat-datepicker-toggle matSuffix
                           [for]="picker"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #picker
                             [showSpinners]="true"
                             [showSeconds]="true"
                             [enableMeridian]="false"
                             [stepHour]="1"
                             [stepMinute]="1"
                             [color]="'primary'">
    </ngx-mat-datetime-picker>
  </mat-form-field>

  <div class="app-flex__col">
    <button type="submit"
            [disabled]="form.invalid || (inProcess$ | async)"
            mat-raised-button
            color="primary">Add
    </button>
  </div>
</form>
